<!doctype html>
{% extends "login/Wrapper.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>New category income</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<p>
{% block content %}
<h1>Add New Personal Category </h1>
<p>
    Your categories now:
    {% for post in form2 %}
    <strong> {{ post.person_category_name }}; </strong>
    {% endfor %}
<h3>Add a new category</h3></p>

{% if exp == '1' %}
<p style="color: #c90202">This category already exists. Add a new category! </p>
{% elif exp == '0'%}
<p style="color: #c90202">The fields with categories must not be empty!</p>
{% endif %}

<form method="POST" class="post-form" >
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default" style="margin-left: 3%">Save</button>
</form>
{% endblock %}
</body>
</html>